<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- use Spring default values -->
<!--    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->
    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [ %clr(%-20.20thread{20}){Purple} %clr(]){faint} %-5level %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%ex{2}%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="authlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS};%msg%ex{2}%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>logs/auth.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/auth.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="applog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [ %-20.20thread{20} ] %-5level %-40.40logger{39} :%msg%ex{2}%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="org.leolo" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.leolo" level="info">
        <appender-ref ref="applog"/>
    </logger>

    <logger name="auth" level="debug">
        <appender-ref ref="authlog"/>
    </logger>

    <root level="warn">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>