<!DOCTYPE html>
<html>
    <head>
        <title>Basic Fragment</title>
        <script th:fragment="jquery"
                src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
    </head>
    <body>
        <footer th:fragment="footer">
            <hr>
            <div style="font-size: smaller; text-align: center">
                This is not an official site. Never use data here for safety critical purposes. Data provided by Network Rail.
            </div>
        </footer>
    </body>
</html>