<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title th:text="${title}"></title>
    <script th:replace="~{fragments/basic.html :: jquery}"></script>
    <script src="/scripts/main.js"></script>
</head>
<body>
<h1 th:text="${title}"></h1>
<div th:replace="~{fragments/basic.html :: header}"></div>
<a href="/performance"><div class="tgroup">Real Time Performace</div></a>
<a href="/schedule_search"><div class="tgroup">Search train schedule</div></a>
<div th:replace="~{fragments/basic.html :: footer}"></div>
</body>
</html>