<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title th:text="${title}"></title>
    <script th:replace="~{fragments/basic.html :: jquery}"></script>
    <script th:replace="~{fragments/basic.html :: jqueryUI}"></script>
    <script language="JavaScript" src="lib/moment.js"></script>
    <script src="/scripts/main.js"></script>
    <script language="javascript">
        //Initialize the input
        $(document).ready(function() {
           $("#location").autocomplete({
               minLength: 3,
               source: function(request, response) {
                   var inputTerm = request.term;
                   $.ajax({
                       url: "/api/stations/search?q="+inputTerm,
                       method: "GET",
                       success: function(data) {
                           var resp = [];
                           for (const station of data.result) {
                               resp.push(station);
                           }
                           response(resp);
                       },
                       error: function(data) {
                           response([]);
                       }
                   });
               },
               select: function(event, ui) {
                   $('#selected_location').val(ui.item.tiplocCode);
                   $('#location').val(ui.item.displayName);
                   return false;
               }
           }).autocomplete("instance")._renderItem = function(q, data) {
               return $("<li>").append(
                   "<span style='float: left;'>"+data.displayName+"</span>"+
                   "<span style='font-size: smaller; text-align: right;float: inline-end;'>"+data.crsCode+"</span>"
               ).append("</li>").appendTo(q);
           }
           $('#train_date').datepicker({
              dateFormat: "yy-mm-dd",
              autoclose: true,
              todayBtn: true,
              todayHighlight: true,
              minDate: -14
           });
        });
        function viewFullSchedule(uid, date) {
            alert('Not implemented');
        }
        function doSearch() {
            console.log("doing search");
            var location = $('#selected_location').val().trim();
            var date = $('#train_date').val();
            var time = $('#train_time').val();
            var hasDate = false;
            var strDate = "";
            console.log("Location: " + location + "; date: " + date + ";time: " + time +";");
            if (location.length === 0) {
                $('#location_message').text("Please select a location").show();
                return false;
            } else {
                $('#location_message').hide();
            }
            console.log({"datelength": date.length, "timelength": time.length});
            if (date.length !== 0) {
                hasDate = true;
            } else if (time.length !== 0) {
                $('#time_message').text("Date must be specified if time is specified").show();
                return false;
            } else {
                $('#time_message').hide();
            }
            if (hasDate) {
                strDate = date + " ";
                if (time.length === 0) {
                    //No time given, we just fill in current time
                    strDate += moment().format("HH:mm:ss");
                } else if (time.length === 5) {
                    strDate += time + ":00";
                } else {
                    $('#time_message').text("Time must be in HHmm format.").show();
                    return false;
                }
            }
            var request = {
                "location": location
            };
            if (hasDate) {
                request["fromTime"] = strDate;
            }
            if ($("#call_only").is(":checked")) {
                request["callOnly"] = true;
            }
            console.log(request);
            $('#search_in_progress').show();
            $("#search_result").hide();
            $.ajax({
                url: "/api/schedule/search",
                method: "POST",
                data: JSON.stringify(request),
                contentType: "application/json",
                success: function(data) {
                    console.log(data);
                    if (data.result !== "success") {
                        $('#search_in_progress').hide();
                        $('#search_message').text("Error when searching for schedule. Try again later.").show();
                        return;
                    }
                    const searchedLocation = data.searched_locations;
                    var display = $('<div>');
                    var prev = $('<button>');
                    prev.text("Previous Hour");
                    prev.on('click', function() {
                        console.log("Going to previous hour");
                        const param = data.search_parameter;
                        $('#selected_location').val(param.location);
                        $('#call_only').val(param.callOnly);
                        var time = moment(param.fromTime).subtract(1, 'hour');
                        $('#train_date').val(time.format("YYYY-MM-DD"));
                        $('#train_time').val(time.format("HH:mm"));
                        doSearch();
                    });
                    prev.appendTo(display);
                    if (data.schedules.length > 0) {
                        for (const schedule of data.schedules) {
                            var entry = $('<div style="border: 1px solid black;font-size: large; display: flow-root;">');
                            var baseInfo = $('<div style=" display: flow-root;">');
                            if (!searchedLocation.includes(schedule.summary.origin)) {
                                var oridisp = $("<div class='station_box'>");
                                oridisp.append("<div style='text-align: center; font-size: larger'>" + schedule.summary.originDisplayName + "</div>");
                                oridisp.append("<div class='origin_time'>" + schedule.summary.departureTime.substring(0, 5) + "</div>");
                                oridisp.appendTo(baseInfo);
                                baseInfo.append("<div class='station_arrow'>\u25B6</div>");
                            } else {
                                //Train originates from here
                                baseInfo.append("<div class='station_box empty'>&nbsp;</div>");
                                baseInfo.append("<div class='station_arrow empty'>&nbsp;</div>");
                            }
                            var curdisp = $("<div class='station_box'>");
                            var arrTime = schedule.detail.gbttArrivalTime ?? schedule.detail.wttArrivalTime;
                            if (arrTime) {
                                curdisp.append("<div class='stn_time before'>" + arrTime.substring(0, 5) + "</div>");
                            }
                            curdisp.append("<div style='text-align: center; font-size: larger'>" + $('#location').val() + "</div>");
                            if (schedule.detail) {
                                const detail = schedule.detail
                                var curdetail = $("<div>");
                                if (arrTime) {
                                    curdisp.append("<div class='stn_time after " + (schedule.detail.gbttArrivalTime ? "" : "wtt") + "'>" + arrTime.substring(0, 5) + "</div>");
                                } else {
                                    curdisp.append("<div class='stn_time empty'>&nbsp;</div>");
                                }
                                if (detail.platform) {
                                    curdisp.append("<div  class='stn_time' style='font-size: small'>Platform <span style='font-weight: bold; font-size: larger;'>" + detail.platform + "</span></div>");
                                } else {
                                    curdisp.append("<div class='stn_time empty'>&nbsp;</div>");
                                }
                                var depTime = detail.gbttDepartureTime ?? detail.wttDepartureTime;
                                var passTime = detail.wttPassTime;
                                if (depTime) {
                                    curdisp.append("<div class='stn_time " + (schedule.detail.gbttDepartureTime ? "" : "wtt") + "'>" + depTime.substring(0, 5) + "</div>");
                                } else if (passTime) {
                                    curdisp.append("<div class='stn_time wtt'>pass " + passTime.substring(0, 5) + "</div>");
                                } else {
                                    curdisp.append("<div class='stn_time empty'>&nbsp;</div>");
                                }
                            }
                            curdisp.appendTo(baseInfo);
                            if (!searchedLocation.includes(schedule.summary.destination)) {
                                baseInfo.append("<div class='station_arrow'>\u25B6</div>");
                                var destdisp = $("<div class='station_box'>");
                                destdisp.append("<div class='dest_time before'>" + schedule.summary.arrivalTime.substring(0, 5) + "</div>");
                                destdisp.append("<div style='text-align: center; font-size: larger'>" + schedule.summary.destinationDisplayName + "</div>");
                                destdisp.append("<div class='dest_time after'>" + schedule.summary.arrivalTime.substring(0, 5) + "</div>");
                                destdisp.appendTo(baseInfo);
                            } else {
                                baseInfo.append("<div class='station_arrow empty'>&nbsp;</div>");
                                baseInfo.append("<div class='station_box empty'>&nbsp;</div>");
                            }
                            var xtraInfo = $("<div>")
                            xtraInfo.append("<div class='xtra_info'>" + schedule.summary.trainType + " service operated by " + schedule.summary.trainOperator + "</div>");
                            xtraInfo.append("<div class='xtra_info' style='text-align: right' onclick='viewFullSchedule(\"" + schedule.summary.trainUid + "\",\"" + schedule.summary.scheduleDate + "\")'>View full schedule</div>");
                            baseInfo.appendTo(entry);
                            xtraInfo.appendTo(entry);
                            entry.appendTo(display);
                        }
                    } else {
                        $("<div>Sorry, there are no train that fit your search criteria. Please amend them and try again</div>").appendTo(display);
                    }
                    var next = $('<button>');
                    next.text("Next Hour");
                    next.on('click', function() {
                        console.log("Going to next hour");
                        const param = data.search_parameter;
                        $('#selected_location').val(param.location);
                        $('#call_only').val(param.callOnly);
                        var time = moment(param.fromTime).add(1, 'hour');
                        $('#train_date').val(time.format("YYYY-MM-DD"));
                        $('#train_time').val(time.format("HH:mm"));
                        doSearch();
                    });
                    next.appendTo(display);
                    display.appendTo($('#search_result').empty().show());
                    $('#search_in_progress').hide();
                },
                error: function(data) {
                    console.log(data);
                    $('#search_in_progress').hide();
                    $('#search_message').text("Error when searching for schedule. Try again later.").show();
                    $('#search_result').hide();
                }
            });
        }
    </script>
    <style>
        #search_input th {
            min-width: 150px;
            padding-right: 2em;
        }

        #search_result div.station_box {
            width: 30%;
            float: left;
            text-align: center;
        }
        #search_result div.station_arrow {
            width: 5%;
            float: left;
            text-align: center;
            vertical-align: middle;
        }
        #search_result div.stn_time {
            width: 33%;
            float: left;
            font-size: smaller;
        }

        #search_result div.origin_time {
            width: 33%;
            float: right;
            font-size: smaller;
            text-align: right;
        }
        #search_result div.dest_time {
            font-size: smaller;
        }
        #search_result div.dest_time.after {
            width: 33%;
            float: left;
            text-align: left;
        }
        #search_result div.before {
            display: none;
        }
        #search_result div.wtt {
            font-style: italic;
        }
        #search_result div.xtra_info {
            font-size: smaller;
            width: 50%;
            float: left;
        }
        @media(max-width : 600px) {
            #search_result div.station_box {
                width: 100%;
                float: initial;
                text-align: center;
            }
            #search_result div.station_arrow {
                width: 100%;
                float: initial;
                text-align: center;
                vertical-align: initial;
                transform: rotate(90deg);
            }
            #search_result div.stn_time {
                width: 100%;
                float: initial;
                font-size: smaller;
            }
            #search_result div.origin_time {
                width: 100%;
                float: initial;
                text-align: center;
            }
            #search_result div.after {
                display: none;
             }
            #search_result div.before {
                width: 100%;
                display: inline-block;
            }
            #search_result div.empty {
                display: none;
            }
            #search_result div.xtra_info {
                float: initial;
                width: 100%;
            }
        }
    </style>
</head>
<body>
<h1 th:text="${title}"></h1>
<div th:replace="~{fragments/basic.html :: header}"></div>
<div id="search_input">
    <table>
        <tr>
            <th><label for="location">Location</label> </th>
            <td>
                <input name="location" type="text" id="location">
                <input name="selectedLocation" type="hidden" id="selected_location" value="">
            </td>
            <td>
                <span id="location_message" style="display: none;"></span>
            </td>
        </tr>
        <tr>
            <th><label for="train_date">Date</label> </th>
            <td><input name="date" type="text" id="train_date"> </td>
        </tr>
        <tr>
            <th><label for="train_time">Time</label> </th>
            <td><input name="time" type="time" id="train_time"></td>
            <td><span id="time_message" class="error" style="display: none;"></span></td>
        </tr>
        <tr>
            <th colspan="2">
                <input name="call_only" id="call_only" type="checkbox" value="true" checked>
                <label for="call_only">Calling trains only</label>
            </th>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <button name="search" type="submit" id="search" onclick="doSearch()">Search</button>
            </td>
        </tr>
    </table>
</div>
<div id="search_in_progress" style="display: none;">
    Searching, please wait...
</div>
<div id="search_message" style="display: none;" class="error">
</div>
<div id="search_result" style="display: none; box-sizing: content-box;">
</div>
<div th:replace="~{fragments/basic.html :: footer}"></div>
</body>
</html>